<section class="body" [class.sunSet]="share.sunSet">
  <header [ngClass]="{'sunSet': share.sunSet, 'active': scrollHeight > 0}">
    <span class="LOGO" [class.sunSet]="share.sunSet">LOGO</span>
    <div class="headerBtn">
      <a *ngFor="let router of testArr" [class.sunSet]="share.sunSet"
        [routerLink]="['/web', router.CHID]">{{router.title}}</a>
    </div>
  </header>
  <i class="fad fa-eclipse" [class.sunSet]="share.sunSet" (click)='share.sunSet = !share.sunSet'></i>
  <router-outlet></router-outlet>
</section>